.header__headerCaption___2GRsf {
  color: #FFFFFF !important;
  text-decoration: none !important;
}

.header__headerButton___1_vxE {
  font-family: "BlenderLight";
  text-decoration: none !important;
  padding-right: 12px !important;
  color: white !important;
  margin-right: 18px;
}

.header__headerWaterfall___30QS1 {
  background-color: #2E2E2E;
}
.minimap__mapimage___210uR{
    background:url(images/city-full-banner.png) no-repeat;
    background-color:#186DB1;
    max-width:100%;
    height:173px;
}
.minimap__beta___2uIFe {
  top: 8%;
  position: absolute;
  left: 2%;
  color: yellow;
}
.footer__heBackground___kO5GW {
  background: url(images/footerHe.png) no-repeat 0px bottom;
  background-size: auto;
  height: 85px;
  margin: 16px 0px 16px 16px;
}

.footer__enBackground___38qx3 {
  background: url(images/footerEn.png) no-repeat 0px bottom;
  background-size: auto;
  height: 85px;
  margin: 16px 0px 16px 16px;
}

.footer__heCopyright___2SzV9 {
  padding-right: 20px;
  position: relative;
  top: -70px;
}

.footer__heCopyright___2SzV9 p {
  color: white;
  margin: 0 0 10px;
  font-size: 16px;
}

.footer__enCopyright___DeKsJ {
  padding-right: 20px;
  position: relative;
  float: right;
  top: -70px;
}

.footer__enCopyright___DeKsJ p {
  color: white;
  margin: 0 0 10px;
  font-size: 16px;
}
